@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Smart Apartment Data</h2>
        <p>
            Smart is web software for multifamily industry professionals. It makes it easy to get the valuable knowledge your business needs and capitalize on it.
        </p>
    </div>
</div>
